.previewContainer {
  width: 100px;
  padding-bottom: 10px;
  border-bottom: 3px solid lightgrey;
}

.previewLink {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-decoration: none;
  color: black;
}

.previewImg {
  width: 100px;
  height: 100px;
}
