header {
    width: 100%;
    height: 80vh;
    position: relative;
    background: radial-gradient(89.51% 50.16% at 50.03% 34.86%, #B4ECD8 0%, #F3F3F3 100%);
}

header .logo-expanded {
    top: 1rem;
    left: 2rem;
    position: relative;
}

header .search {
    right: 2rem;
    top: 1rem;
    position: absolute;
}