.homepage header {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 50vh;
  align-items: center;
  background-color: #f2f2f2;
}
  
.homepage header h1 {
  font-weight: normal;
  max-width: 18rem;
  line-height: 3rem;
  font-size: 2.25rem;
  margin: 0;
}
  
.homepage header h1 a {
  text-decoration: inherit;
  color: inherit;
}

section.full {
  width: 100%;
  padding: 0;
}

section, .full-inner {
  width: 1200px;
  margin: 0 auto;
  padding: 3rem 0;
  box-sizing: border-box;
}

a {
  color: #F67138;
}

.featured {
  background: linear-gradient(95.39deg, #F4EFEF 33.79%, rgba(251, 205, 205, 0) 100%);
}

.featured h1 {
  font-size: 2.5srem;
}

.featured h2 {
  font-size: 1rem;
  font-weight: normal;
}

#entries h2 {
  font-size: 2rem;
  margin-bottom: 0;
}

#entries ul {
  display: inline-flex;
  flex-wrap: wrap;
  padding: 0;
  justify-content: flex-start;
  gap: 20px;
}

#entries li {
  width: 200px;
  min-height: 200px;
  border: 1px solid #cfcfcf;
  display: block;
  padding: 0;
  position: relative;
}

#entries li a {
  width: 100%;
  height: 100%;
  display: block;
  top: 0;
  text-decoration: none;
  box-sizing: border-box;
}

#entries li h3{
  color: initial;
  margin: 0;
}

.entry-detail {
  padding: 10px;
  min-height: 40px;
}

.img-placeholder {
  background: linear-gradient(164.14deg, #FA9494 4.78%, #742A2A 88.94%);
  width: 200px;
  height: 200px;
  display: block;
}
