.homepage header {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 50vh;
  align-items: center;
  background-color: #f2f2f2;
}
  
.homepage header h1 {
  font-weight: normal;
  max-width: 15rem;
  line-height: 3rem;
  margin: 0;
}
  
.homepage header h1 a {
  text-decoration: inherit;
  color: inherit;
}

section.full {
  width: 100%;
  padding: 0;
}

section, .full-inner {
  width: 1200px;
  margin: 0 auto;
  padding: 3rem 10rem;
  box-sizing: border-box;
}

a {
  color: #F67138;
}

.featured {
  background: linear-gradient(95.39deg, #F4EFEF 33.79%, rgba(251, 205, 205, 0) 100%);
}

.featured h1 {
  font-size: 2.5srem;
}

.featured h2 {
  font-size: 1rem;
  font-weight: normal;
}